<!--Registration page-->
<div class="container" id="sign-in-box">
  <div class='well'>
  <form class="form-horizontal" role="form">
      <h2>Register</h2>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-6">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-6">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputusername3" class="col-sm-2 control-label">User Name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="inputusername3" placeholder="User Name">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>
    </div>
  </form>
  </div>
</div>