<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
  <div class="container">
    <h1>Student Lunch Manager</h1>
    <p id="intro-paragraph">Keep up with the school menu and make lunch orders here! If you are new to the system, please register.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Register &raquo;</a></p>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <image src="/assets/peaches.png" class="img-responsive">
    </div>
    <div class="col-md-4">
      <image src="/assets/pasta.png" class="img-responsive">
   </div>
    <div class="col-md-4">
      <image src="/assets/bread.png" class="img-responsive">
    </div>
  </div>
</div> <!-- /container -->