#new-menu-item-container {
  padding: 6%;
  width: 90%;
  h2 {
    /*font-family: "Lucida Grande", arial, helvetica, sans-serif;*/
    /*font-size: 30px;*/
    margin-bottom: 30px;
  }
}

.sub-header {
  margin-bottom: 30px;
  margin-top: 40px;
}
