body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}

.navbar-inverse {
  background-color: #777777;
  /*border-color: black;*/
  border-bottom: 24px solid #434343;
}

.navbar-brand {
  font-family: 'Galdeano', sans-serif;
  font-size: 20px;
}

#navbar-sign_in {
  color: #FFFFFF;
  padding-right: 20px;
}