<div class="container" id="new-menu-item-container">
  <div class='well'>

    <form class="form-horizontal" role="form">
        <h2>Add New Menu Items</h2>

      <div class="form-group">
        <label for="meal_date" class="col-sm-2 control-label">Date</label>
        <div class="col-sm-6">
          <input type="text_field" class="form-control" id="meal_date" placeholder="Date (YYYY-MM-DD)">
        </div>
      </div>
      <div class="form-group">
        <label for="inputText3" class="col-sm-2 control-label">Meal Items</label>
        <div class="col-sm-6">
          <input type="text_area" class="form-control" id="inputText3" placeholder="Item 1, Item 2, etc..">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Add Items</button>
        </div>
      </div>
      </div>
    </form>

    <h2 class="sub-header">Recently Added Meals</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Meal</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>05-13-2014</td>
            <td>Turkey Sandwich, Cucumbers, Oranges</td>
          </tr>
          <tr>
            <td>2</td>
            <td>05-12-2014</td>
            <td>Spanish Rice w/beef, Corn, Fruit Cocktail</td>
          </tr>
          <tr>
            <td>3</td>
            <td>05-11-2014</td>
            <td>Italian Meatballs w/penne, Celery Sticks, Diced Peaches</td>
          </tr>
          <tr>
            <td>4</td>
            <td>05-10-2014</td>
            <td>Beefy BB on a bun, Pinto Beans, Diced Pears</td>
          </tr>
          <tr>
            <td>5</td>
            <td>05-09-2014</td>
            <td>Green Chili Chicken Burritos, Pinto Beans</td>
          </tr>
          <tr>
            <td>6</td>
            <td>05-08-2014</td>
            <td>Turkey Sandwich, Cucumbers, Oranges</td>
          </tr>
          <tr>
            <td>7</td>
            <td>05-07-2014</td>
            <td>Spanish Rice w/beef, Corn, Fruit Cocktail</td>
          </tr>
          <tr>
            <td>8</td>
            <td>05-06-2014</td>
            <td>Italian Meatballs w/penne, Celery Sticks, Diced Peaches</td>
          </tr>
          <tr>
            <td>9</td>
            <td>05-05-2014</td>
            <td>Beefy BB on a bun, Pinto Beans, Diced Pears</td>
          </tr>
          <tr>
            <td>10</td>
            <td>05-04-2014</td>
            <td>Green Chili Chicken Burritos, Pinto Beans</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>